.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  justify-content: center;
}