body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: #fff;
  padding-top: 2em;
  margin-bottom: 10px;
}

nav > ul {
  margin-top: 20px;
  display: flex;
  padding: 0 1em 0 0;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul > li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
}

.post a {
  color: #000;
  text-decoration: none;
}

nav a:hover, .post a:hover {
  color: grey;
}

.hero {
  text-decoration: none;
  color: #fff;
}

.hero:hover {
  color: #fff;
}

.contact-form, .edit-form, .add-form {
  margin: 0 25rem;
}

.post {
  margin: 50px 0;
}